body {
  background: rgba(179, 222, 242, 0.4);
  color: #110b06;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.weather-app {
  background: rgba(247, 246, 242, 0.9);
  backdrop-filter: blur(10px);
  border: 1.5px solid rgba(230, 174, 128, 0.3);
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 15px;
  box-shadow:
    0 2px 10px rgba(255, 140, 0, 0.75),
    0 6px 32px rgba(255, 165, 0, 0.25);
  color: #110b06;
}
header {
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 10px;
  padding-bottom: 15px;
}
.horizontal-line {
  border: none;
  height: 1px;
  background-color: rgba(140, 169, 177, 0.3);
  margin-top: 35px;
}

.search-form-input {
  background: #e1f2fa;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  padding: 15px;
  width: 80%;
  margin-left: 30px;
}
.search-form-button {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 45px;
  height: 45px;
  font-size: 25px;
  cursor: pointer;

  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
  vertical-align: middle;
}

.search-form-button:hover {
  transform: scale(1.15);
  opacity: 0.8;
}

.search-form-button:active {
  transform: scale(0.95);
}
.city-name,
.current-temperature {
  color: #110b06;
  font-weight: bold;
}
.sub-header {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.location-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.city-name {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #110b06;
  margin: 0;
  line-height: 1.2;
}
.current-temperature-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 35px;
}
.current-temp-logo {
  margin-top: 5px;
  display: flex;
}
.current-temp-logo img {
  width: 75px;
  height: 75px;
  display: block;
  object-fit: contain;
}
.current-temperature {
  font-family: "Open Sans", sans-serif;
  font-size: 62px;
  font-weight: 650;
  color: #110b06;
  line-height: 0.9;
}
.current-temp-units {
  font-family: "Open Sans", sans-serif;
  font-size: 29px;
  font-weight: 550;
  color: #110b06;
  align-self: flex-start;
  margin-top: 14px;
}

.humidity,
.speed {
  color: #0a8f9e;
}
p {
  line-height: 1.5;
  margin: 0;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 27px;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(68, 61, 61, 0.9);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.weather-forecast-icon {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}
.weather-forecast-temperatures {
  color: #0a8f9e;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5px;
}

a {
  color: rgba(140, 169, 177, 1);
}
footer {
  margin-top: 20px;
  padding: 35px 0 0 0;
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
